<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mimes</key>
	<dict>
		<key>htm</key>
		<string>text/html</string>
		<key>html</key>
		<string>text/html</string>
		<key>json</key>
		<string>application/json</string>
	</dict>
	<key>mocks</key>
	<dict>
		<key>DELETE</key>
		<dict>
			<key>http://</key>
			<array>
				<dict>
					<key>data</key>
					<string></string>
					<key>response</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>GET</key>
		<dict>
			<key>http://</key>
			<array>
				<dict>
					<key>data</key>
					<string></string>
					<key>response</key>
					<string></string>
				</dict>
			</array>
			<key>http://apple.com/uk</key>
			<array>
				<dict>
					<key>data</key>
					<string>%22http%3A%2F%2Fapple.com%2Fuk%22-0.txt</string>
					<key>response</key>
					<string>%22http%3A%2F%2Fapple.com%2Fuk%22-1.txt</string>
				</dict>
				<dict>
					<key>data</key>
					<string>%22http%3A%2F%2Fapple.com%2Fuk%22-0.txt</string>
					<key>response</key>
					<string>%22http%3A%2F%2Fapple.com%2Fuk%22-1.txt</string>
				</dict>
			</array>
		</dict>
		<key>POST</key>
		<dict>
			<key>http://</key>
			<array>
				<dict>
					<key>data</key>
					<string></string>
					<key>response</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<key>PUT</key>
		<dict>
			<key>http://</key>
			<array>
				<dict>
					<key>data</key>
					<string></string>
					<key>response</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
